.landing-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.selfie {
  max-width: 300px;
  max-height: 200px;
}

.landing-ul {
  margin-top: 2em;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.landing-icon {
  display: inline;
  font-size: 1.5rem;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .selfie {
    max-width: 300px;
    max-height: 300px;
  }
}
