.content {
  min-height: 100vh;
  background-color: #04080F;
  color: #FDFFFC;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  color: #F8F32B;
  font-family: "PT Serif";
  letter-spacing: .1rem;
  font-size: 1.2rem;
}

h2 {
  color: #F8F32B;
  font-family: "PT Serif";
  letter-spacing: .05rem;
}

p { 
  font-family: 'Roboto';
  letter-spacing: .025rem;
}
/* accents FF9F1C F71735 */