.content {
  min-height: 100vh;
  background-color: #04080f;
  color: #fdfffc;
  display: flex;
  flex-direction: column;
}

h3 {
  color: #f8f32b;
  font-family: 'PT Serif';
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

h2 {
  color: #f8f32b;
  font-family: 'PT Serif';
  letter-spacing: 0.05rem;
}

p {
  font-family: 'Roboto';
  letter-spacing: 0.025rem;
}
/* accents FF9F1C F71735 */
