.navbar {
  /* position: fixed; */
  /* top:0; */
  margin-top: 0;
  height: 3.25em;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #101419;
}

.nav-ul {
  margin: 0;
  list-style-type: none;
}

.nav-li {
  display: inline;
  padding-right: .8em;
}

.nav-li > a:hover {
  color: #F71735;
  border-bottom: 1px solid #F71735;
}

@media screen and (min-width: 400px) {
  .nav-li {
    padding-right: 2em;
  }
}
