.projects-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  max-width: 1100px;
  margin: 0 auto;
}

.project-pic-link {
  width: fit-content;
}

.project-pic {
  max-width: 100%;
  margin: 0 auto;
}

.project-pic:hover {
  border: 2px solid #f71735;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-hr {
  width: 100%;
}

.button-box {
  margin-top: 1em;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.project-btn {
  background-color: #f8f32b;
  width: 100px;
  font-size: 1rem;
  border: none;
  border-radius: 0.35em;
  font-weight: bold;
  padding: 0.5em;
}

.project-p {
  font-size: 0.8rem;
}

#partner-name:hover {
  color: #f71735;
}

.project-btn:hover {
  opacity: 0.5;
}

.project-btn-link {
  width:100px;
  font-size: .9rem;
}

.project-btn-link,
.project-btn-link:visited {
  color: #04080f;
}

.tech-list {
  font-size: 0.8rem;
}

.google-list {
  padding-left: 20px;
}

@media screen and (min-width: 500px) {
  .project-btn {
    width: 125px;
    font-size: 1rem;
  }
  .project-btn-link {
    width:125px;
    font-size: 1rem;
  }
  .project-p {
    font-size: 1rem;
  }
  .tech-list {
    font-size: 1rem;
  }
}
